@font-face {
  font-family: 'Roboto';
  font-style: thin;
  font-weight: 300;
  src: local(''), url('./fonts/Roboto-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/Roboto-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: medium;
  font-weight: 500;
  src: local(''), url('./fonts/Roboto-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: local(''), url('./fonts/Roboto-Bold.ttf') format('ttf');
}
